.main__title {
    padding: 0;
    margin: 15px auto 35px;
    max-width: 720px;
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 1.04;
    text-align: center;
  }

  @media screen and (max-width: 769px) {
    .main__title {
      margin-bottom: 20px;
      font-size: 46px;
    }
  }

  @media screen and (max-width: 426px) {
    .main__title {
      margin-bottom: 15px;
      font-size: 38px;
    }
  }
