.places {
    margin: 0 auto 90px;
  }

  @media screen and (max-width: 769px) {
    .places {
      margin-bottom: 95px;
    }
  }

  @media screen and (max-width: 321px) {
    .places {
      margin-bottom: 50px;
    }
  }
