.visit-card__name {
    padding: 0;
    margin: 0;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 1.1;
    max-width: 320px;
  }

  @media screen and (max-width: 769px) {
    .visit-card__name {
      font-size: 42px;
    }
  }

  @media screen and (max-width: 426px) {
    .visit-card__name {
      font-size: 32px;
    }
  }
