.gallery__item {
    max-width: 300px;
    max-height: 225px;
    overflow: hidden;
  }

@media screen and (max-width: 1024px) {
  .gallery__item {
    max-width: 352px;
    max-height: 264px;
  }
}

@media screen and (max-width: 321px) {
  .gallery__item {
    margin-bottom: -7px;
  }
  .gallery__item:last-child {
    margin-bottom: 0;
  }
}
