.header {
    margin: 0 auto;
    padding: 0 30px;
  }

  @media screen and (max-width: 1024px) {
    .header {
      max-width: 928px;
    }
  }

  @media screen and (max-width: 426px) {
    .header {
      margin-bottom: 30px;
      padding: 0 15px;
    }
  }

