.banner {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  min-height: 740px;
}

.banner:hover .banner__card::after {
  opacity: .8;
  transition: .2s linear;
}

@media screen and (max-width: 1024px) {
  .banner {
    min-height: 640px;
  }
}

@media screen and (max-width: 769px) {
  .banner {
    min-height: 480px;
  }
}

@media screen and (max-width: 426px) {
  .banner {
    min-height: 200px;
  }
}
