.banner {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.banner:hover .banner__card::after {
  opacity: .8;
  transition: .2s linear;
}

