.visit-card__description {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.6;
  }

  @media screen and (max-width: 769px) {
    .visit-card__description {
      letter-spacing: -0.3px;
      font-size: 16px;
    }
  }

  @media screen and (max-width: 321px) {
    .visit-card__description {
      letter-spacing: 0.3px;
    }
  }
