.banner__card {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-decoration: none;
    background-image: url(../../../images/__baikal-background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 740px;
  }


  .banner__card::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: #2a2c2f;
    opacity: .3;
  }

  @media screen and (max-width: 1024px) {
    .banner__card {
      min-height: 640px;
    }
  }

  @media screen and (max-width: 769px) {
    .banner__card {
      min-height: 480px;
    }
  }

  @media screen and (max-width: 426px) {
    .banner__card {
      min-height: 200px;
    }
  }




