.visit-card {
    display: grid;
    grid-template-rows: minmax(min-content, max-content) 1fr;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 45px;
    grid-column-gap: 30px;
  }

  @media screen and (max-width: 426px) {
    .visit-card {
      grid-template-columns: 1fr;
    }
  }
