.footer__nav-item {
    margin-left: 18px;
  }

  .footer__nav-item:first-child {
    margin-left: 0;
  }

  @media screen and (max-width: 426px) {
   .footer__nav-item {
     font-size: 20px;
     margin: 0 auto 15px 0;
   }
 }
