.footer__nav {
    display: flex;
    align-items: center;
  }

  @media screen and (max-width: 769px) {
    .footer__nav {
      height: 100%;
      flex-direction: column;
    }
  }

  @media screen and (max-width: 426px) {
    .footer__nav {
      margin-bottom: 50px;
    }
  }
