.footer__card-text {
    padding: 0;
    margin: 0;
    max-width: 360px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.2;
  }

  @media screen and (max-width: 426px) {
    .footer__card-text {
      font-size: 16px;
    } 
  }